body {
    text-align: center;
    margin: 0 auto;
}

.form-control {
    border-radius: 5px 0px 0px 5px;
}

.add {
    border-radius: 0px 5px 5px 0px;
}

.data {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    margin-top: 15px;    
}

.grouping:after, .grouping:before{
    content: ' ';
    display: table;
}

.grouping:after{
    clear: both;
}

.btn-danger {
    float: right;
    margin-right: 8px;
}
